<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <a mat-list-item>
                <i class="material-icons white">
                    home
                </i>
                <span class="white">Home</span>
            </a>
            <a mat-list-item>
                <i class="material-icons white" >
                    storefront
                </i>
                <span class="white">Products</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>