<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list>
            <a mat-list-item>
                <i class="material-icons white">
                    home
                </i>
                <span class="white">Inicio</span>
            </a>
            <a mat-list-item>
                <i class="material-icons white" >
                    storefront
                </i>
                <span class="white">Produtos</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>